<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
   <form action="/update" method="POST" enctype="multipart/form-data">
        <input type="text" name="name" placeholder="Enter Name" value="<%=userEdit.name%>">
        <br><br>
        <input type="number" name="age" placeholder="Enter Age" value="<%=userEdit.age%>">
        <br><br>
        <input type="text" name="mobile" placeholder="Enter Mobile" value="<%=userEdit.mobile%>">
        <br><br>
        <input type="password" name="pwd" placeholder="Enter Password" value="<%=userEdit.pwd%>">
        <input type="hidden" name="_id" placeholder="Enter Password" value="<%=userEdit._id%>">
        <br><br>
        <input type="date" name="dob" value="<%=userEdit.dob%>">
        <br><br>
        <label for="myImg">
            <img src="/image/<%=userEdit.img%>" height="200" alt="" id="img_label">
        </label>
        <br>
        <input type="file" name="img" id="myImg" hidden accept="image/*">
        <input type="submit">
   </form>
</body>
</html>

<script>
    let myImg=document.querySelector("#myImg");
    let img_label=document.querySelector("#img_label");
    myImg.addEventListener("change",(e)=>{
        img_label.src=URL.createObjectURL(e.target.files[0]);
    })  
</script>